       /*ESTILOS INDEX*/
       .container1{
        background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
        height: 320px;
      }
      .container2{
        background: white;
        height: 180px;
      }
      .fontindex{
        font-size: 22px;
      }
      .card1{
      margin-top: -280px;
      }
      /*CONTACTO*/
      .container3{
        background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
        height: 400px;
      }
      .container4{
        background: white;
        height: 440px;
      }
      .contenido1{
        margin-top: -320px;
      }
      /*OFICINAS*/
      .container5{
      background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
      height: 600px;
      }
      .container6{
        background: white;
        height: 520px;
      }
      .contenido2{
        margin-top: -570px;
      }
      .myscroll{
        padding: 1rem 1.5rem;
        width: 300px;
        height: 970px;
        background-color: #fff;
        border-radius: 0.25rem;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        color: #333;
        font-family: sans-serif;
        text-align: justify;
        line-height: 1.3;
        overflow: auto;
      }
      /*ESTILOS iniciosesion.php*/
        .container7{
          background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
          height: 350px;
        }
        .container8{
          background: white;
          height: 370px;
        }
        .card2{
          margin-top: -270px;
          }
      /*ESTILOS terminosycondiciones.php*/
      .container9{
        background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
        height: 350px;
      }
      .container10{
        background: white;
        height: 370px;
      }
      .card3{
        margin-top: -260px;
        }
        /*ESTILOS registrousuario.php*/
        .container11{
          background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
          height: 650px;
        }
        .container12{
          background: white;
          height: 670px;
        }
        .card4{
          margin-top: -560px;
          } 
        /*ESTILOS reestablecercontrasena.php*/
        .container13{
          background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
          height: 320px;
        }
        .container14{
          background: white;
          height: 320px;
        }
        .card5{
          margin-top: -230px;
          }  
          /*ESTILOS reestablecercontrasena2.php*/
        .container15{
          background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
          height: 400px;
        }
        .container16{
          background: white;
          height: 320px;
        }
        .card6{
          margin-top: -360px;
          }
      /*ESTILOS reestablecercontrasena3.php*/
        .container17{
          background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
          height: 320px;
        }
        .container18{
          background: white;
          height: 300px;
        }
        .card7{
          margin-top: -230px;
          }        
      /*ESTILOS FOOTER*/    
      .fondoFooter{
        background: #333333;
        height: 200px;
        font-size: 13px;
      }
      .rowcarousel{
        margin-bottom: -50px;
      }
      .micarousel{
        width: 640px;
      }
      /*ESTILOS ICONOS*/ 
      .mdi{
        color: grey;
        font-size: 22px;  
      }

      /*ACCESO*/
       /*sesion1.php*/
       .containersesion0{
        background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
        height: 320px;
      }
      .containersesion1{
        background: white;
        height: 180px;
      }
      .fontindex{
        font-size: 22px;
      }
      .cardsesion{
      margin-top: -280px;
      }
      /*solicitud.php*/
      .containersesion2{
        background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
        height: 650px;
      }
      .containersesion3{
        background: white;
        height: 620px;
      }
      .contenidosesion1{
        margin-top: -550px;
        }   
      /*consultarestatus.php NO*/
      .containersesion4{
        background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
        height: 270px;
      }
      .containersesion5{
        background: white;
        height: 280px;
      }
      .contenidosesion2{
        margin-top: -170px;
      }
      /*consultarestatus.php SI*/
      .containersesion6{
        background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
        height: 350px;
        }
        .containersesion7{
          background: white;
          height: 280px;
        }
        .contenidosesion3{
          margin-top: -300px;
        }
        .myscroll2{
          padding: 1rem 1.5rem;
          width: 300px;
          height: 400px;
          background-color: #fff;
          border-radius: 0.25rem;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          color: #333;
          font-family: sans-serif;
          text-align: justify;
          line-height: 1.3;
          overflow: auto;
        }
         /*ESTILOS modificarusuario.php*/
         .containersesion8{
          background-image: url("../bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/img/theme.jpg");
          height: 650px;
        }
        .containersesion9{
          background: white;
          height: 670px;
        }
        .cardsesion1{
          margin-top: -560px;
          } 