       /*ESTILOS INDEX*/
       .container1{
        background-image: url("../../assets/img/theme.jpg");
        height: 320px;
      }
      .container2{
        background: white;
        height: 180px;
      }
      .fontindex{
        font-size: 22px;
      }
      .card1{
      margin-top: -280px;
      }
      /*CONTACTO*/
      .container3{
        background-image: url("../../assets/img/theme.jpg");
        height: 500px;
      }
      .container4{
        background: white;
        height: 570px;
      }
      .contenido1{
        margin-top: -400px;
      }
      /*OFICINAS*/
      .container5{
      background-image: url("../../assets/img/theme.jpg");
      height: 700px;
      }
      .container6{
        background: white;
        height: 600px;
      }
      .contenido2{
        margin-top: -620px;
      }
      .myscroll{
        padding: 1rem 1.5rem;
        width: 300px;
        height: 970px;
        background-color: #fff;
        border-radius: 0.25rem;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        color: #333;
        font-family: sans-serif;
        text-align: justify;
        line-height: 1.3;
        overflow: auto;
      }
      /*ESTILOS iniciosesion.php*/
        .container7{
          background-image: url("../../assets/img/theme.jpg");
          height: 450px;
        }
        .container8{
          background: white;
          height: 450px;
        }
        .card2{
          margin-top: -370px;
          }
      /*ESTILOS terminosycondiciones.php*/
      .container9{
        background-image: url("../../assets/img/theme.jpg");
        height: 340px;
      }
      .container10{
        background: white;
        height: 420px;
      }
      .card3{
        margin-top: -230px;
        }
        /*ESTILOS registrousuario.php*/
         /*nuevousuario.php*/
        .container11{
          background-image: url("../../assets/img/theme.jpg");
          height: 1000px;
        }
        .container12{
          background: white;
          height: 1170px;
        }
        .card4{
          margin-top: -900px;
          } 
        /*ESTILOS reestablecercontrasena.php*/
        .container13{
          background-image: url("../../assets/img/theme.jpg");
          height: 350px;
        }
        .container14{
          background: white;
          height: 450px;
        }
        .card5{
          margin-top: -250px;
          }  
          /*ESTILOS reestablecercontrasena2.php*/
        .container15{
          background-image: url("../../assets/img/theme.jpg");
          height: 400px;
        }
        .container16{
          background: white;
          height: 490px;
        }
        .card6{
          margin-top: -300px;
          }
      /*ESTILOS reestablecercontrasena3.php*/
        .container17{
          background-image: url("../../assets/img/theme.jpg");
          height: 370px;
        }
        .container18{
          background: white;
          height: 490px;
        }
        .card7{
          margin-top: -270px;
          }        
      /*ESTILOS FOOTER*/    
      .fondoFooter{
        background: #333333;
        height: 200px;
        font-size: 13px;
      }
      .rowcarousel{
        margin-bottom: -50px;
      }
      .micarousel{
        width: 640px;
      }
      /*ESTILOS ICONOS*/ 
      .mdi{
        color: grey;
        font-size: 22px;  
      }

      /*ACCESO*/
       /*sesion1.php*/
       .containersesion0{
        background-image: url("../../assets/img/theme.jpg");
        height: 320px;
      }
      .containersesion1{
        background: white;
        height: 180px;
      }
      .fontindex{
        font-size: 22px;
      }
      .cardsesion{
      margin-top: -280px;
      }
      /*solicitud.php*/
      .containersesion2{
        background-image: url("../../assets/img/theme.jpg");
        height: 690px;
      }
      .containersesion3{
        background: white;
        height: 670px;
      }
      .contenidosesion1{
        margin-top: -550px;
        }   
      /*consultarestatus.php NO*/
      .containersesion4{
        background-image: url("../../assets/img/theme.jpg");
        height: 270px;
      }
      .containersesion5{
        background: white;
        height: 280px;
      }
      .contenidosesion2{
        margin-top: -170px;
      }
      /*consultarestatus.php SI*/
      .containersesion6{
        background-image: url("../../assets/img/theme.jpg");
        height: 450px;
        }
        .containersesion7{
          background: white;
          height: 370px;
        }
        .contenidosesion3{
          margin-top: -320px;
        }
        .myscroll2{
          padding: 1rem 1.5rem;
          width: 300px;
          height: 450px;
          background-color: #fff;
          border-radius: 0.25rem;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          color: #333;
          font-family: sans-serif;
          text-align: justify;
          line-height: 1.3;
          overflow: auto;
        }
         /*ESTILOS modificarusuario.php*/
          /*modificarusuario2.php*/
         .containersesion8{
          background-image: url("../../assets/img/theme.jpg");
          height: 900px;
        }
        .containersesion9{
          background: white;
          height: 950px;
        }
        .cardsesion1{
          margin-top: -760px;
          } 
        /*solicitudespendientes.php*/
        .containersesion10{
        background-image: url("../../assets/img/theme.jpg");
        height: 400px;
        }
        .containersesion11{
          background: white;
          height: 450px;
        }
        .contenidosesion4{
          margin-top: -300px;
        }
        .myscroll3{
          padding: 1rem 1.5rem;
          width: 300px;
          height: 500px;
          background-color: #fff;
          border-radius: 0.25rem;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          color: #333;
          font-family: sans-serif;
          text-align: justify;
          line-height: 1.3;
          overflow: auto;
        }
        /*ESTILOS cambiarcontrasena.php*/
        .containersesion12{
          background-image: url("../../assets/img/theme.jpg");
          height: 450px;
        }
        .containersesion13{
          background: white;
          height: 540px;
        }
        .cardsesion2{
          margin-top: -330px;
          }       